#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-position: inside;
  list-style-type: none;
}

ul {
  padding-left: 0px;
}

img {
  width: 100%;
}

@media (min-width: 1024px) {
  .countryListItem {
    width: 500px;
  }

  container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.countryListItem {
  margin: 5px;
}